:root {
    --primary-color: #fff;
    --secondary-color: #001948;
    --third-color: #dfa408;
    --dark-mod: "false";

}

*{
    margin: 0;
    padding: 0;
    font-family: quicksand, sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.5s;
}

.topMenu{
    background-color: var(--primary-color);
    margin: auto;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2.5px 3px grey;
    position: sticky;
    top: 0;
    padding-block: 3px;
    transition: all 0.5s;
    z-index: 11;
    
}

.logo{
    margin-left: 10em;
}


.mobileDark{
    position: absolute;
    z-index: 12;
    box-shadow: var(--secondary-color) 0px 2px 3px;
    width: 60px;
    height: 25px;
    border-radius: 25px;
    top: 1.2em;
    right: 28em;
}

#dark{
    position: absolute;
    cursor: pointer;
    z-index: 13;
    top: 2em;
    right: 37em;
    opacity: 0;
}

    ::placeholder{
        padding: 1em;
    }
.toggle{
    position: absolute;
    border-radius: 50%;
    box-shadow: var(--secondary-color) 0px 2px 3px;
    width: 23px;
    height: 23px;
}

/* Mode Sombre */

#dark:checked, #dark:checked ~ .mobileDark .toggle {
    transform: translateX(40px);
    box-shadow: grey 0px 2px 3px;
}

#dark:checked ~ .mobileDark {
    box-shadow: var(--primary-color) 0px 2px 3px;
    transition: all 0.5s;
}

#dark:checked ~ .topMenu .navRight li a{
    color: var(--primary-color);
    transition: all 0.5s;
}

 #dark:checked ~ .topMenu, #dark:checked ~ .topMenu .navLeft, #dark:checked ~ .topMenu .navRight {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer .lateralMenu{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer .lateralMenu ul li a{
    color: var(--secondary-color);
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer{
    background-color: var(--secondary-color);
    box-shadow: var(--primary-color) 1px 2px 3px;
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer .downProfil{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer .profileInfo{
    color: var(--primary-color);
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer .downProfil .onglets li a{
    color: var(--primary-color);
    transition: all 0.5s;
}

/* Mode Sombre */

.navLeft{
    display: flex;
    justify-content: start;
    align-items: center;
}

.navLeft li{
    list-style:none;
}


.navLeft img{
    width: 50px;
    height: 50px;
    margin-right: 2dvh;
}


.navRight{
    display: flex;
    justify-content: end;
    align-items: center;
}

.navRight li{
    list-style:none;
    margin-inline: 1em;
}

 a{
    text-decoration: none;
}

.navRight img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.checkbox{
    display: none;
}

.lateralMenu{
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: auto;
    width: 17%;
    margin: 6px;
    box-shadow: 0px 2px 3px grey;
    transition: all 0.5s;
}

.lateralMenu ul li{
    padding-block: 1em;
    margin-inline: 1em;
}

.lateralMenu ul li a{
    color: var(--primary-color);
    transition: all 0.5s;
}

.sousMenu{
    display: none;
}

.lateralMenu > ul li:hover .sousMenu{
    display: block;
}

.lateralMenu ul a:hover{
    color: var(--third-color);
}


.lateralMenu ul li a i{
    padding-right: 5px;
}

.sousMenu li{
    padding-left: 2dvh;
}

.mainContainer{
    display: flex;
    justify-content: start;
}

li{
    list-style: none;
}

    

.content{
    margin: 1em;
    border-radius: 15px;
    box-shadow: var(--secondary-color) 0px 2px 3px;
    width: 1300px;
    height: auto;
}


.searchBar{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 2em;
}

.loupe{
    position: absolute;
    top: 7.5em;
    right: 4.2em;
    

}

.bar{
    border-radius: 25px;
    box-shadow: grey 0px 2px 3px;
    border: none;
    width: 300px;
    height: 35px;
}


.filter{
    margin: 1.5em;

}

.filterBtn{
    cursor: pointer;
    color: var(--primary-color);
    box-shadow: grey 0px 2px 3px;
    padding: 1.3em;
    border-radius: 20px;
    border: none;
    background-color: var(--secondary-color);
    margin-inline: 1em;
}

.filterBtn:hover{
    background-color: var(--third-color);
    color: var(--secondary-color);
    transition: all 0.5s;
}



.announcementZone{
    width: 1200px;
    height: auto;
    margin: 1em;
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}

.announceModel{
    background-color: rgb(236, 236, 236);
    width: 350px;
    height: 225px;
    box-shadow: grey 0px 2px 3px;
    border-radius: 15px;
    margin: 1.5em;
    transition: all 0.5s;
    flex: 1;
    
}

.announceModelHeader{
    white-space: nowrap;
}

.announceModelFooter button{
    box-shadow: grey 0px 2px 3px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 1em;
    width: 89px;
    height: 35px;
    cursor: pointer;

}

.announceModelFooter{
    display: flex;
    justify-content: end;
}

.announceModelFooter button:hover{
    background-color: var(--third-color);
    color: var(--primary-color);
    transition: all 0.5s;
}

.announceModel:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.announceModelHeader, .announceModelBody, .announceModelFooter{
    margin: 0.75em;
}

.pubDate{
    color: grey;
}

.announcePdp{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.publicationInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media (max-width: 768px) {
    .announceModel {
        flex: 1 1 100%; 
        max-width: 100%;
    }

    .topMenu{
        background-color: var(--primary-color);
        margin: auto;
        width: 450px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 2.5px 3px grey;
        position: sticky;
        top: 0;
        padding-block: 3px;
        transition: all 0.5s;
       

        
    }

    #dark{
        display: block;
        position: absolute;
        right: 12.5em;
    }

    .mobileDark{
        position: absolute;
        right: 7.7em;

    }

    .lateralMenu{
        width: 50%;
        position: fixed;
        white-space: nowrap;
        z-index: 10;
    }
    
    .navRight img{
        position: absolute;
        right: 4.5em;
        top: 3px
    }

    .username, #logoName, #calendar{
        display: none;
    }

    .makeHorizontal{
        display: flex;
        flex-direction: column;
    }

    .mainProfil{
        margin: 15px;
        width: 100%;
        border-radius: 15px;
    }

    .profilePicture img{
        width: 100px;
        height: 100px;
    }

    .profilePicture {
        top: 15em;
        left: 2.5em;
    
    }

    .lateralMenu{
        height: 100%;
        transform: translateX(-200%);
        transition: all 0.5s;
    }
    #feedback{
        display: none;
    }

    label{
        display: block;
        cursor: pointer;
    }

    #toggle:checked ~ .mainContainer .lateralMenu{
        display: block;
        transform: translateX(0);
        transition: all 0.5s;
        
    }
    #toggle:checked ~ label{
        color: var(--third-color);
        transition: all 0.5s;
    }

    .checkbox{
        z-index: 13;
        display: block;
        position: absolute;
        top: 0;
        left: 5px;
    }
    
    .searchBar{
        position: absolute;
        right:-2em;
        top: 8.5em;
    }

    .loupe{
        position: absolute;
        font-size: 1.2em;
        top: 0.7em;
        right: 0.5em;
    }

    .bar{
        width: 200px;
        height: 45px;
    }

    #toggle{
        opacity: 0;
    }
    label{
        display: block;
        cursor: pointer;
    }

    .checkbox{
        display: block;
    }

    .mainContainer{
        width: 300px;
    }

    .announcementZone{
        width: auto;
        height: auto;
        margin: 1em;
        display: flex;
        justify-content: row;
        flex-wrap: wrap;
    }
}
