:root {
    --primary-color: #fff;
    --secondary-color: #001948;
    --third-color: #dfa408;
    --dark-mod: "false";

}

*{
    margin: 0;
    padding: 0;
    font-family: quicksand, sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.5s;
}

.topMenu{
    background-color: var(--primary-color);
    margin: auto;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2.5px 3px grey;
    position: sticky;
    top: 0;
    padding-block: 3px;
    transition: all 0.5s;
    
}

.mobileDark{
    position: absolute;
    z-index: 12;
    box-shadow: var(--secondary-color) 0px 2px 3px;
    width: 60px;
    height: 25px;
    border-radius: 25px;
    top: 1.2em;
    right: 28em;
}

#dark{
    position: absolute;
    cursor: pointer;
    z-index: 13;
    top: 2em;
    right: 37em;
    opacity: 0;
}

.toggle{
    position: absolute;
    border-radius: 50%;
    box-shadow: var(--secondary-color) 0px 2px 3px;
    width: 23px;
    height: 23px;
}

/* Mode Sombre */

#dark:checked, #dark:checked ~ .mobileDark .toggle {
    transform: translateX(40px);
    box-shadow: grey 0px 2px 3px;
}

#dark:checked ~ .mobileDark {
    box-shadow: var(--primary-color) 0px 2px 3px;
    transition: all 0.5s;
}

#dark:checked ~ .topMenu .navRight li a{
    color: var(--primary-color);
    transition: all 0.5s;
}

 #dark:checked ~ .topMenu, #dark:checked ~ .topMenu .navLeft, #dark:checked ~ .topMenu .navRight {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer .lateralMenu{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer .lateralMenu ul li a{
    color: var(--secondary-color);
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer{
    background-color: var(--secondary-color);
    box-shadow: var(--primary-color) 1px 2px 3px;
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer .downProfil{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer .profileInfo{
    color: var(--primary-color);
    transition: all 0.5s;
}

#dark:checked ~ .mainContainer .downProfil .onglets li a{
    color: var(--primary-color);
    transition: all 0.5s;
}

/* Mode Sombre */

.navLeft{
    display: flex;
    justify-content: start;
    align-items: center;
}

.navLeft li{
    list-style:none;
}


.navLeft img{
    width: 50px;
    height: 50px;
    margin-right: 2dvh;
}


.navRight{
    display: flex;
    justify-content: end;
    align-items: center;
}

.navRight li{
    list-style:none;
    margin-inline: 1em;
}

 a{
    text-decoration: none;
}

.navRight img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.lateralMenu{
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: auto;
    width: 17%;
    margin: 6px;
    box-shadow: 0px 2px 3px grey;
}

.lateralMenu ul li{
    padding-block: 1em;
    margin-inline: 1em;
}

.lateralMenu ul li a{
    color: var(--primary-color);
    transition: all 0.5s;
}

.sousMenu{
    display: none;
}

.lateralMenu > ul li:hover .sousMenu{
    display: block;
}

.lateralMenu ul a:hover{
    color: var(--third-color);
}


.lateralMenu ul li a i{
    padding-right: 5px;
}

.sousMenu li{
    padding-left: 2dvh;
}

.mainContainer{
    display: flex;
}

li{
    list-style: none;
}

.studentContainer{
    height: 1110px;
    width: 1500px;
    margin: 2vh;
    box-shadow: var(--secondary-color) 0px 2px 3px;
    border-radius: 17px;
    background: linear-gradient(to bottom, var(--third-color), var(--primary-color) 27%); 
    background-position: top; 
}

.text{
    color: var(--secondary-color);

}

.top{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
}

.create {
    margin-top: 1em;
    margin-right: 3em;
    border-radius: 5px;
    box-shadow: 0px 2px 3px grey;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5em;
    width: 5.5em;
    height: 2em;
    white-space: nowrap;
}

.studentTotal, .womenCounter, .menCounter, .collaboratorCounter {
    padding: 1em;
    background-color: var(--secondary-color);
    border-radius: 7px;
    box-shadow: var(--secondary-color) 0px 2px 3px;
    width: 200px;
}

.info{
    margin-top: 1.3em;
    display: flex;
    justify-content: space-around;

}

.infoText{
    color: var(--primary-color);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.infoIcon{
    padding-left: 30px;
}

.studentList{
    border-radius: 15px;
    box-shadow: var(--secondary-color) 0px 2px 3px;
    margin-top: 1.5em;
    margin-inline: 1em;
    padding: 0;
    overflow: hidden;
    
}

.searchPart{
    display: flex;
    justify-content: space-between;
    padding: 1em;


}

#searchBar{
    border-radius: 5px;
    border: none;
    width: 350px;
    height: 2em;
    box-shadow: var(--secondary-color) 0px 1px 2px;
}

#three-dot{
    font-size: 1.8em;
}

.searchBar{
    display: flex;
    justify-content: center;
}

.searchBar ::placeholder{
    color: var(--secondary-color);
}

.searchIcon i{
    font-size: 1.5em;
}

.searchIcon{
    position: absolute;
    right: 5em;
    top: 26.4em;
}

.cut{
    margin: 0;
    padding: 0.75em;
    width: 100%;
    border: none;
    background-color: rgb(187, 187, 187);
    display: flex;
    justify-content: start;
}

.list{
    margin: 0;
    padding: 0;
}

.list li{
    padding-left: 1.5em;
}


 .others{
    padding-inline: 10em;
}

.underFirstName{
    padding-left: 4.5em;
}

.underLastName{
    padding-left: 12em;
    
}



.studentModel{
    padding-inline: 1em;
    padding-block: 0.6em;
    margin: 5px;
    border-bottom: 1px grey solid;
    display: flex;
    flex-direction: row;
    white-space: nowrap;

}

.list li, .studentModel > p{
    flex: 1;
    text-align: left;
}

.editButton{
    padding-inline: 10em;
    display: flex;
    flex-direction: row; 
    cursor: pointer;
    align-items: center;
    color: var(--third-color);
    border-radius: 5px;

}

.editButton i{
    padding-right: 10px;
    
}

.downPart{
    margin-block: 15px;
    margin-inline: 1em;
    display: flex;
    justify-content: space-between;

}
.checkbox{
    position: absolute;
    top: 0;
    left: 5px;
    display: none;
}

.downPart li i{
    font-size: 1.5em;
}

.downPart li{
    display: flex;
    justify-content: start;
}

.downPart li a{
    font-size: 1.3em;
}

@media (max-width: 600px) {

    #dark{
        display: block;
        position: absolute;
        right: 12.5em;
    }

    .mobileDark{
        position: absolute;
        right: 7.7em;

    }

    .lateralMenu{
        width: 50%;
        position: fixed;
        white-space: nowrap;
        z-index: 10;
    }
    
    .navRight img{
        position: absolute;
        right: 4.5em;
        top: 3px
    }

    .username, #logoName, #calendar{
        display: none;
    }

    .makeHorizontal{
        display: flex;
        flex-direction: column;
    }

    .mainProfil{
        margin: 15px;
        width: 100%;
        border-radius: 15px;
    }

    .profilePicture img{
        width: 100px;
        height: 100px;
    }

    .profilePicture {
        top: 15em;
        left: 2.5em;
    
    }

    .lateralMenu{
        height: 100%;
        transform: translateX(-200%);
        transition: all 0.5s;
    }
    #feedback{
        display: none;
    }

    label{
        display: block;
        cursor: pointer;
    }

    #toggle:checked ~ .mainContainer .lateralMenu{
        display: block;
        width: 50%;
        transform: translateX(0);
        transition: all 0.5s;
        
    }
    #toggle:checked ~ label{
        color: var(--third-color);
        transition: all 0.5s;
    }

    .checkbox{
        display: block;
    }

    .studentContainer{
        width: 500px;

    }
    .studentTotal, .womenCounter, .menCounter, .collaboratorCounter{
        width: 60px;
        height: 50px;
        margin-inline: 0.5em;
    }

    .create{
        position: absolute;
        top: 2.9em;
        right: -7em;
    }

    .info span {
        font-size: 0.75em;
    }

    
}
